.particleCard{
    border-radius: 5px;
    border: 4px solid ; 
    color: #1a1a1a;
    background-color: #e7df8f5c;
    /* padding: 5px; */
    margin: 5px;
    /* width: 33.333%; */
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
  }

  .left { 
    float: left; 
    margin-left: 4px; 
    /* margin-top: 1rem;  */
    /* margin-bottom: 1rem; */
}
  .right { 
    float: right; 
    margin-right: 4px; 
    /* margin-bottom: 1rem;  */
    /* margin-top: 1rem; */
}